/* Styles for the resume page */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #313131;
  line-height: 1.6;
}

header, section {
  padding: 20px;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  border-bottom: 2px solid blue;
  padding-bottom: 5px;
  margin-top: 30px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
}

/* Mobile layout in a single column */

body {
  max-width: 100%;
}

header {
  text-align: center;
  background: white;
}

section {
  background: white;
  margin-bottom: 15px;
}

/* Desktop layout with two columns and a centered container */

@media (min-width: 900px) {

  body {
    max-width: 1100px;
    margin: 40px auto;
    background-color: white;
  }

  header {
    text-align: left;
    border-bottom: 3px solid blue;
  }

  /* Two-column layout for sections */
  section {
    padding: 30px;
  }

  /* Put Education & Skills side-by-side */
  section:nth-of-type(2),
  section:nth-of-type(6) {
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }

  /* Make Work & Volunteer full width */
  section:nth-of-type(3),
  section:nth-of-type(4),
  section:nth-of-type(5) {
    width: 100%;
  }

}
